# ----------------------
# Secrets & Environment
# ----------------------
.env
.venv/
venv/
env/

# ----------------------
# Django
# ----------------------
db.sqlite3
staticfiles/

# ----------------------
# Python Cache
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS / Editor
# ----------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------
# Build / Misc
# ----------------------
*.swp
*.swo